@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Reset color-scheme untuk mencegah dark mode sistem */
  html {
    color-scheme: light;
  }
  
  html.dark {
    color-scheme: dark;
  }
  
  body {
    @apply bg-primary text-secondary font-sans overflow-hidden;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}